<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="forgetPassword.component.css" />
  </head>
  <body>
    <div class="container">
      <!-- Title section -->
      <div class="title">Forget Password</div>
      <div class="content">
        <h3 class="text-success">{{ msg }}</h3>
        @for (item of errs;track item) {
        <span> {{ item }} </span> <br />
        }

        <!-- Registration form -->
        <form (ngSubmit)="forgetPassword()" #loginFrm="ngForm">
          <div class="user-details">
            <!-- Input for Full Name -->

            <!-- Input for Password -->
            <div class="input-box">
              <span class="details">Email or userName</span>
              <input
                type="text"
                #forgetPas="ngModel"
                [(ngModel)]="forgetPass.EmailOrUserName"
                name="email"
                placeholder="Enter your Email or userName"
                required
              />
            </div>
          </div>

          <!-- Submit button -->
          <div class="button">
            <input [disabled]="!loginFrm.form.valid" type="submit" value="reset Password" />
          </div>
        </form>
        <a class="" routerLink="/auth/login">Back To Login</a>
      </div>
    </div>
  </body>
</html>
